
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/login/css/style.css">
    <title>Login</title>
</head>
<body>

    <div class="login-wrap">
        <h2>Login</h2>

         <form>
            <div class="form">
                <input type="text" placeholder="Username" name="un" />
                <input type="password" placeholder="Password" name="pw" />
                <button> Sign in </button>
                <a href="/Login/SignUp/"> <p> Don't have an account? Register </p></a>
            </div>
         </form>
    </div>

    <script src="~/login/js/main.js"></script>
</body>
</html>